.skills-wrapper {
    grid-template: repeat(4, 1fr) / repeat(2, 1fr);
    grid-template-areas:
        "bubble bubble"
        "skills avatar"
        "skills avatar"
        "skills avatar";
}

.intro-of-myself {
    grid-area: bubble;
    position: relative;
    max-width: 75vmax;
    max-height: 12vh;
    font-family: var(--fontfam2);
    line-height: 1.15;
    font-size: 1.5rem;
    font-style: italic;
    align-self: center;
    justify-self: center;
    border-radius: 25px;
    padding: 2rem;
    background: hsl(0deg, 0%, 0%, 0.25);
    z-index: 10;

    & > p:first-of-type {
        padding-bottom: 0.5vmax;
    }

    .resume-download {
        display: inline-block;
        font-size: 1.5rem;
        -webkit-animation: 3s linear infinite remind-click;
        animation: 3s linear infinite remind-click;
    }

    a:link,
    a:visited,
    a:hover,
    a:active {
        color: var(--font-color-1);
    }

    &::after {
        content: "";
        bottom: -2rem;
        right: 10vw;
        position: absolute;
        display: inline-block;
        height: 0;
        width: 0;
        border-top: 2rem solid rgba(0, 0, 0, 0.25);
        border-right: 1.5rem solid transparent;
        border-left: 0.75rem solid transparent;
    }
}

@keyframes remind-click {
    0%,
    45% {
        transform: rotate(0deg);
    }
    47%,
    53% {
        transform: rotate(35deg);
    }
    50% {
        transform: rotate(-5deg);
    }
    55%,
    100% {
        transform: rotate(0deg);
    }
}

.avatar-at-work {
    grid-area: avatar;
    max-height: 67.5vh;
    pointer-events: none;
}

.hit-zone {
    grid-area: avatar;
    align-self: flex-end;
    width: 50%;
    height: 40%;
    cursor: pointer;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
}

.skills-container {
    grid-area: skills;
    display: grid;
    padding: 1.5rem;
    margin-left: 15%;
    grid-template: repeat(5, 1fr) / auto;
}

.my-skill {
    height: 10vh;
    display: flex;
    align-items: center;

    .skill-img {
        height: 9vh;
        width: 9vh;
        object-fit: contain;
        padding-right: 0.5rem;
        transition: transform .5s ease-in;
    }

    .skill-name {
        font-family: var(--fontfam2);
        font-size: 1.25rem;
        transition: opacity .25s ease-in-out;
    }

    .hidden-name{
        opacity: 0;
    }
}

// position of the skill in the grid and, for the hidden class, the translate values
$column: 1;
$xValue: 0vw;
$yValue: 0vh;
$row: 1;

@for $i from 1 through 10 {
    @if $i < 6 {
        $xValue: 37.5vw;
        $column: 2;
    } @else {
        $xValue: 62.5vw;
        $column: 1;
    }

    // for the 5,10 / 1,6 / 2,7 / 3,8 / 4,9 skill
    @if $i % 5 == 0 {
        $row: 5;
        $yValue: -6.75vh;
    } @else {
        @for $j from 1 through 5 {
            @if $i % 5 == $j {
                $row: $j;
                $yValue: (13.5vh * (5 - $j)) - 6.75vh;
            }
        }
    }

    .my-skill#{$i} {
        grid-column: $column;
        grid-row: $row;

        .skill-img{
            transition-delay: .125s * $i;
        }

        .skill-name{
            transition-delay: (.125s * $i) + .5s;
        }

        .hidden-img {
            transform: translate($xValue, $yValue) scale(0);
        }
    }
}
