.skills-wrapper {
    grid-template: repeat(4, 1fr) / repeat(2, 1fr);
    grid-template-areas:
        "bubble avatar"
        "bubble avatar"
        "skills avatar"
        "skills avatar";
}

.intro-of-myself {
    grid-area: bubble;
    text-align: center;
    // position: relative;
    // max-width: 75vw;
    font-family: var(--fontfam2);
    line-height: 1.5;
    font-size: 3rem;
    // font-style: italic;
    align-self: center;
    justify-self: center;
    // border-radius: 25px;
    padding: 2rem;
    // background: hsl(0deg, 0%, 100%, 0.15);
    // background: hsl(0deg, 0%, 0%, 0.25);
    // z-index: 10;

    // & > p:first-of-type {
    //     padding-bottom: 0.5vmax;
    // }

    // &::after {
    //     content: "";
    //     bottom: -2rem;
    //     right: 10vw;
    //     position: absolute;
    //     display: inline-block;
    //     height: 0;
    //     width: 0;
    //     // border-top: 2rem solid hsl(0deg, 0%, 0%, 0.25);
    //     border-top: 2rem solid hsl(0deg, 0%, 100%, 0.15);
    //     border-right: 1.5rem solid transparent;
    //     border-left: 0.75rem solid transparent;
    // }
}

.custom-text-color {
    color: var(--fontcol2);
}

@keyframes remind-click {
    0%,
    45% {
        transform: rotate(0deg);
    }
    47%,
    53% {
        transform: rotate(35deg);
    }
    50% {
        transform: rotate(-5deg);
    }
    55%,
    100% {
        transform: rotate(0deg);
    }
}

.avatar-at-work {
    grid-area: avatar;
    max-height: 75vh;
    pointer-events: none;
    align-self: flex-end;
}

.hit-zone {
    grid-area: avatar;
    align-self: flex-end;
    width: 50%;
    height: 40%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    .circle{        
        border: 0.5rem solid var(--ctacol);
    }
}

.skills-container {
    grid-area: skills;
    grid-template: repeat(4, 1fr) / repeat(2, 1fr);
    align-items: center;
    justify-items: center;
    display: grid;
    padding: 1.5rem;
    margin: 0 1.5rem 1.5rem 1.5rem;
    font-size: 1.25rem;
}

.my-skill {
    height: 5rem;
    display: flex;
    align-items: center;

    .skill-img {
        height: 4.5rem;
        width: 4.5rem;
        object-fit: contain;
        padding-right: 0.5rem;
        transition: transform 0.5s ease-in;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .skill-name {
        font-family: var(--fontfam2);
        transition: opacity 0.25s ease-in-out;
    }

    .hidden-name {
        opacity: 0;
    }
}

.my-skill:nth-child(5),
.my-skill:nth-child(6) {
    grid-column: 1/3;
    align-self: center;
}

.my-resume {
    background: hsl(180deg, 100%, 80%, 0.15);
    border-radius: 1.5rem;
    padding: 0 2.5rem;
    margin-top: 1rem;
    justify-content: center;

    .skill-img{        
        padding-right: 0;
    }

    .resume-download {
        display: inline-block;
        font-size: 3.75rem;
        -webkit-animation: 3s linear infinite remind-click;
        animation: 3s linear infinite remind-click;
    }

    a:link,
    a:visited,
    a:hover,
    a:active {
        color: var(--ctacol);
    }
}

// .my-skill:nth-child(1) {
//     grid-row: 1;
//     grid-column: 1;
// }

// .my-skill:nth-child(2) {
//     grid-row: 1/3;
//     grid-column: 2;
// }

// .my-skill:nth-child(3) {
//     grid-row: 2;
//     grid-column: 1;
// }

// .my-skill:nth-child(4) {
//     grid-row: 2/4;
//     grid-column: 2;
// }

// .my-skill:nth-child(5) {
//     grid-row: 3;
//     grid-column: 1;
// }

.video-modal {
    display: none;
    position: absolute;
    height: 90vh;
    width: 100vw;

    --my-video-width: min(80vw, 125vh);
    --my-video-height: min(44vw, 68.75vh);

    .overlay {
        height: inherit;
        width: inherit;
        background: linear-gradient(var(--bg-gradient-angle), var(--bg-color3), var(--bg-color4));
        opacity: 0.75;
    }

    .video-modal-player {
        position: absolute;
        display: grid;
        place-content: center;
        height: calc(var(--my-video-height) + 2rem);
        width: calc(var(--my-video-width) + 2rem);
        bottom: 10vh;
        left: 50%;
        transform: translateX(-50%);
        background: var(--fontcol1);
        border-radius: 5px;
    }

    .my-video-modal {
        height: var(--my-video-height);
        width: var(--my-video-width);
    }

    .exit-modal {
        position: absolute;
        font-size: 2.5rem;
        right: 3vh;
        top: 3vh;
        color: var(--fontcol1);
        cursor: pointer;
    }
}
