.work-wrapper {
    grid-template: repeat(8, 1fr) / repeat(4, 1fr);
    grid-template-areas:
        "video video video thumbnail"
        "video video video thumbnail"
        "video video video thumbnail"
        "video video video thumbnail"
        "video video video thumbnail"
        "video video video thumbnail"
        "infos infos infos thumbnail"
        "infos infos infos thumbnail";
}

.video-player-container {
    position: relative;
    grid-area: video;
    width: calc(100% - 4rem);
    height: calc(100% - 2rem);
    margin: 2rem 0 0 4rem;
    transition: 0.5s opacity ease-in-out;

    // loading animation

    .video-loader-container {
        transform: translate(-50%, -50%);
        position: absolute;
        top: 50%;
        left: 50%;
        display: none;
        justify-content: center;
        align-items: center;
        color: #aaa;
        font-family: arial;
        font-weight: bolder;

        &.loader-apparition {
            display: flex;
        }

        .link {
            --loader-font-size: 2.5rem;
            font-size: var(--loader-font-size);
            display: flex;
            align-items: center;
            justify-content: center;
            animation: 1s linear forwards text-container-apparition;
        }

        .my-text {
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            animation: 9s linear infinite 1s text-container-animation;
        }

        .my-text-content {
            text-align: center;
            display: inline-block;
            width: 0;
            overflow: hidden;
            animation: 9s linear infinite 1s text-apparition;
        }
        .my-text-1 {
            --width: calc(var(--loader-font-size) * 1.15);
        }
        .my-text-2 {
            --width: calc(var(--loader-font-size) * 5.3);
            animation-delay: 4s;
        }
        .my-text-3 {
            --width: calc(var(--loader-font-size) * 6);
            animation-delay: 7s;
        }

        @keyframes text-container-apparition {
            0%,
            80% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }

        @keyframes text-container-animation {
            0%,
            33%,
            66%,
            100% {
                width: 0;
            }
            1.1%,
            31.9% {
                width: calc(var(--loader-font-size) * 1.15);
            }
            38%,
            61% {
                width: calc(var(--loader-font-size) * 5.3);
            }
            71.6%,
            94.4% {
                width: calc(var(--loader-font-size) * 6);
            }
        }

        @keyframes text-apparition {
            0%,
            33% {
                width: 0;
            }
            .1%,
            32.9% {
                width: var(--width);
            }
        }
    }

    .my-video {
        border-radius: 0.5rem;
        height: 100%;
        width: 100%;
        border: 2px solid black;
        background: black;
        object-fit: contain;
    }
}

.video-controls {
    position: relative;
    height: 3rem;
    justify-self: center;
    align-self: flex-end;
    margin-left: 4rem;
    grid-area: video;
    bottom: 0.25rem;
    width: 25%;
    display: flex;
    justify-content: space-around;
    padding: 0.5rem;
    background: hsl(0deg, 0%, 0%, 0.25);
    border: 2px solid hsl(0deg, 0%, 100%, 0.15);
    border-radius: 5px;
    z-index: 10;

    button {
        border: none;
        background: none;
        color: var(--fontcol1);
        font-size: 1.5rem;
        cursor: pointer;
    }
}

.video-thumb-container::-webkit-scrollbar {
    width: auto;
    height: auto;
}

.video-thumb-container::-webkit-scrollbar-track {
    background: hsl(285deg, 90%, 75%, 0.25);
    border-radius: 100vw;
}

.video-thumb-container::-webkit-scrollbar-thumb {
    background: hsl(285deg, 90%, 35%, 0.75);
    border-radius: 100vw;
}

.video-thumb-container::-webkit-scrollbar-thumb:hover {
    background: hsl(285deg, 90%, 35%, 1);
}

.video-thumb-container {
    grid-area: thumbnail;
    width: calc(100% - 6rem);
    height: calc(100% - 4rem);
    background: hsl(180deg, 100%, 80%, 0.15);
    margin: 2rem 4rem 2rem 2rem;
    border-radius: 0.5rem;
    z-index: 10;
    overflow-y: scroll;

    .video-thumb {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-areas:
            "rank video video video video video"
            "rank video video video video video"
            "rank video video video video video"
            "none title title title title title";
        align-items: center;
        justify-items: center;
        margin: 5% 0;
        padding: 2%;
        font-family: var(--fontfam2);
        // border: 2px solid white;

        .video-thumb-rank {
            font-family: var(--fontfam2);
            font-size: 1.5rem;
            grid-area: rank;
        }

        .video-thumb-img {
            width: 95%;
            height: 95%;
            object-fit: contain;
            cursor: pointer;
            border-radius: 0.2rem;
            grid-area: video;
        }

        .video-thumb-name {
            grid-area: title;
            font-size: 1.15rem;
        }
    }
}

.video-infos-container {
    grid-area: infos;
    width: calc(100% - 4rem);
    height: calc(100% - 4rem);
    border-radius: 0.5rem;
    margin: 2rem 0 2rem 4rem;
    background: hsl(180deg, 100%, 80%, 0.15);
    font-family: var(--fontfam2);
    line-height: 1.25;
    font-size: 1.25rem;
    z-index: 10;

    > div {
        margin: 1rem 1rem -0.5rem 1rem;
    }

    .video-name {
        font-family: var(--fontfam1);
        margin-left: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .video-descr {
        font-size: 1rem;
    }

    .video-links {
        font-family: var(--fontfam2);
        font-size: 1.25rem;

        a {
            margin-left: 0.5rem;
            font-size: 1.5rem;
        }

        a,
        a:link,
        a:visited,
        a:focus,
        a:hover,
        a:active {
            color: var(--fontcol1);
        }

        a:hover {
            color: var(--ctacol);
        }
    }
}

@media (orientation: portrait) {
    .work-wrapper {
        grid-template: repeat(10, 1fr) / 1fr;
        width: 80vw;
        grid-template-areas:
            "section"
            "video"
            "video"
            "video"
            "controls"
            "thumbnail"
            "thumbnail"
            "infos"
            "infos"
            "infos";

        > * {
            margin: 0;
        }
    }

    .video-player-container {
        align-self: flex-end;
        justify-self: center;
    }

    .video-controls {
        position: relative;
        height: 75%;
        justify-self: center;
        align-self: flex-start;
        grid-area: controls;
        width: calc(100% - 4rem);
        background: none;
        border: none;
    }

    // .video-thumb-container::-webkit-scrollbar {
    //     width: auto;
    //     height: auto;
    // }

    // .video-thumb-container::-webkit-scrollbar-track {
    //     background: hsl(285deg, 90%, 75%, 0.25);
    //     border-radius: 100vw;
    // }

    // .video-thumb-container::-webkit-scrollbar-thumb {
    //     background: hsl(285deg, 90%, 35%, 0.75);
    //     border-radius: 100vw;
    // }

    // .video-thumb-container::-webkit-scrollbar-thumb:hover {
    //     background: hsl(285deg, 90%, 35%, 1);
    // }

    .video-thumb-container {
        grid-area: thumbnail;
        width: calc(100% - 4rem);
        justify-self: center;
        align-self: center;
        height: calc(100% - 2rem);
        overflow-y: hidden;
        overflow-x: scroll;
        display: flex;

        .video-thumb {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            grid-template-areas:
                "video video video video video"
                "video video video video video"
                "video video video video video"
                "rank title title title title";
            margin: 0;

            .video-thumb-img {
                width: 20vw;
                height: auto;
            }
        }
    }

    .video-infos-container {
        grid-area: infos;
        height: 95%;
        justify-self: center;
        align-self: flex-start;
    }
}
