.home-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "name avatar" "links avatar";
}

.introducing-myself {
  position: relative;
  grid-area: name;
  align-self: center;
  padding: 2.5rem;
}
.introducing-myself .my-name {
  font-family: var(--fontfam1);
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
}
.introducing-myself .my-name .my-firstname {
  font-size: 10rem;
}
.introducing-myself .my-name .my-lastname {
  font-size: 6.4rem;
}
.introducing-myself .my-role {
  font-size: 3rem;
  text-align: right;
  margin-right: 0.5rem;
  font-style: italic;
  font-family: var(--fontfam2);
  padding: 0.25rem 0.5rem 0 0;
  margin-top: 0.75rem;
  border-top: 0.25rem solid var(--fontcol2);
}

.status-container {
  position: relative;
  grid-area: links;
  height: 9vh;
  z-index: 10;
}
.status-container .status {
  position: relative;
  overflow-y: hidden;
  height: 4.5vh;
  font-family: var(--fontfam2);
  font-size: 2.75rem;
  text-align: center;
  transition: height 0.25s ease-in-out;
}
.status-container .reload-status {
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: 1.5rem;
  text-align: center;
  color: var(--ctacol);
  border: none;
  background: none;
  transition: transform 0.25s linear, 0.05s font-size ease-in-out;
  cursor: pointer;
}
.status-container .reload-status:hover {
  font-size: 1.75rem;
}

.custom-text-color {
  color: var(--fontcol2);
}

.social-network {
  grid-area: links;
  align-self: flex-end;
  margin-bottom: 2.5vh;
  height: 10vh;
  width: 50%;
  font-size: 3.5rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-left: 2.5rem;
}
.social-network a {
  justify-self: center;
  align-self: center;
  transition: 0.05s font-size ease-in-out;
  z-index: 10;
}
.social-network a:hover {
  font-size: 3.75rem;
}
.social-network a:link,
.social-network a:visited,
.social-network a:hover,
.social-network a:active {
  color: var(--fontcol1);
}

.my-avatar {
  --avatar-length-unit: 0.25vw;
  --avatar-clip-value: 0%;
  position: relative;
  bottom: -4rem;
  right: -4rem;
  grid-area: avatar;
  width: clamp(500px, 25vw, 700px);
  height: auto;
  align-self: center;
  justify-self: center;
}
.my-avatar img {
  pointer-events: none;
}
.my-avatar .avatar-body {
  width: inherit;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}
.my-avatar .avatar-head {
  position: absolute;
  bottom: 49.41%;
  left: 22.551%;
  width: 50.157%;
}
.my-avatar .avatar-head1 {
  -webkit-clip-path: polygon(0% calc(var(--avatar-clip-value)), 100% calc(var(--avatar-clip-value)), 100% 20%, 0% 20%, 0% calc(20% + var(--avatar-clip-value)), 100% calc(20% + var(--avatar-clip-value)), 100% 40%, 0% 40%, 0% calc(40% + var(--avatar-clip-value)), 100% calc(40% + var(--avatar-clip-value)), 100% 60%, 0% 60%, 0% calc(60% + var(--avatar-clip-value)), 100% calc(60% + var(--avatar-clip-value)), 100% 80%, 0% 80%, 0% calc(80% + var(--avatar-clip-value)), 100% calc(80% + var(--avatar-clip-value)), 100% 100%, 0% 100%);
  clip-path: polygon(0% calc(var(--avatar-clip-value)), 100% calc(var(--avatar-clip-value)), 100% 20%, 0% 20%, 0% calc(20% + var(--avatar-clip-value)), 100% calc(20% + var(--avatar-clip-value)), 100% 40%, 0% 40%, 0% calc(40% + var(--avatar-clip-value)), 100% calc(40% + var(--avatar-clip-value)), 100% 60%, 0% 60%, 0% calc(60% + var(--avatar-clip-value)), 100% calc(60% + var(--avatar-clip-value)), 100% 80%, 0% 80%, 0% calc(80% + var(--avatar-clip-value)), 100% calc(80% + var(--avatar-clip-value)), 100% 100%, 0% 100%);
}
.my-avatar .avatar-head2 {
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% calc(0% + var(--avatar-clip-value)), 0% calc(0% + var(--avatar-clip-value)), 0% 20%, 100% 20%, 100% calc(20% + var(--avatar-clip-value)), 0% calc(20% + var(--avatar-clip-value)), 0% 40%, 100% 40%, 100% calc(40% + var(--avatar-clip-value)), 0% calc(40% + var(--avatar-clip-value)), 0% 60%, 100% 60%, 100% calc(60% + var(--avatar-clip-value)), 0% calc(60% + var(--avatar-clip-value)), 0% 80%, 100% 80%, 100% calc(80% + var(--avatar-clip-value)), 0% calc(80% + var(--avatar-clip-value)));
  clip-path: polygon(0% 0%, 100% 0%, 100% calc(0% + var(--avatar-clip-value)), 0% calc(0% + var(--avatar-clip-value)), 0% 20%, 100% 20%, 100% calc(20% + var(--avatar-clip-value)), 0% calc(20% + var(--avatar-clip-value)), 0% 40%, 100% 40%, 100% calc(40% + var(--avatar-clip-value)), 0% calc(40% + var(--avatar-clip-value)), 0% 60%, 100% 60%, 100% calc(60% + var(--avatar-clip-value)), 0% calc(60% + var(--avatar-clip-value)), 0% 80%, 100% 80%, 100% calc(80% + var(--avatar-clip-value)), 0% calc(80% + var(--avatar-clip-value)));
}
.my-avatar .pull-me-container {
  position: absolute;
  top: 55%;
  left: 55%;
  height: 11.25vmin;
}
.my-avatar .pull-me {
  position: absolute;
  height: 4.5vmin;
  width: 5vmin;
  padding-bottom: 0.5vmin;
  left: calc(50% - 2.5vmin);
  background: var(--bg-color4);
  font-size: 2.5vh;
  color: var(--ctacol);
  display: flex;
  align-items: flex-end;
  justify-content: center;
  border: none;
  border-radius: 0 0 25px 25px;
  cursor: -webkit-grab;
  cursor: grab;
  z-index: 10;
}/*# sourceMappingURL=slideHome.css.map */