:root {
  --avatar-length-unit: 0.25vw;
  --avatar-clip-value: 0%;
}

.home-wrapper {
  display: grid;
  position: relative;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "name avatar" "links avatar";
}

.introducing-myself {
  position: relative;
  grid-area: name;
  align-self: center;
  padding: 2.5rem;
}
.introducing-myself .my-name {
  font-family: var(--fontfam1);
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
}
.introducing-myself .my-name .my-firstname {
  font-size: 10rem;
}
.introducing-myself .my-name .my-lastname {
  font-size: 6.4rem;
}
.introducing-myself .my-role {
  font-size: 3rem;
  text-align: right;
  margin-right: 0.5rem;
  font-style: italic;
  font-family: var(--fontfam2);
  padding: 0.25rem 0.5rem 0 0;
  margin-top: 0.75rem;
  border-top: 0.25rem solid var(--fontcol2);
}

.status-container {
  position: relative;
  grid-area: links;
  height: 9vh;
  z-index: 10;
}
.status-container .status {
  position: relative;
  overflow-y: hidden;
  height: 4.5vh;
  font-family: var(--fontfam2);
  font-size: 2.75rem;
  text-align: center;
  transition: height 0.25s ease-in-out;
}
.status-container .reload-status {
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: 1.5rem;
  text-align: center;
  color: var(--ctacol);
  border: none;
  background: none;
  transition: transform 0.25s linear, 0.05s font-size ease-in-out;
  cursor: pointer;
}
.status-container .reload-status:hover {
  font-size: 1.75rem;
}

.custom-text-color {
  color: var(--fontcol2);
}

.social-network {
  grid-area: links;
  align-self: flex-end;
  margin-bottom: 2.5vh;
  height: 10vh;
  width: 50%;
  font-size: 3.5rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-left: 2.5rem;
}
.social-network a {
  justify-self: center;
  align-self: center;
  transition: 0.05s font-size ease-in-out;
  z-index: 10;
}
.social-network a:hover {
  font-size: 3.75rem;
}
.social-network a:link,
.social-network a:visited,
.social-network a:hover,
.social-network a:active {
  color: var(--fontcol1);
}

.my-avatar {
  position: relative;
  bottom: -4rem;
  right: -4rem;
  grid-area: avatar;
  width: clamp(500px, 25vw, 700px);
  height: auto;
  align-self: center;
  justify-self: center;
}
.my-avatar img {
  pointer-events: none;
}
.my-avatar .avatar-body {
  width: inherit;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}
.my-avatar .avatar-head {
  position: absolute;
  bottom: 49.41%;
  left: 22.551%;
  width: 50.157%;
}
.my-avatar .avatar-head1 {
  -webkit-clip-path: polygon(0% calc(var(--avatar-clip-value)), 100% calc(var(--avatar-clip-value)), 100% 20%, 0% 20%, 0% calc(20% + var(--avatar-clip-value)), 100% calc(20% + var(--avatar-clip-value)), 100% 40%, 0% 40%, 0% calc(40% + var(--avatar-clip-value)), 100% calc(40% + var(--avatar-clip-value)), 100% 60%, 0% 60%, 0% calc(60% + var(--avatar-clip-value)), 100% calc(60% + var(--avatar-clip-value)), 100% 80%, 0% 80%, 0% calc(80% + var(--avatar-clip-value)), 100% calc(80% + var(--avatar-clip-value)), 100% 100%, 0% 100%);
  clip-path: polygon(0% calc(var(--avatar-clip-value)), 100% calc(var(--avatar-clip-value)), 100% 20%, 0% 20%, 0% calc(20% + var(--avatar-clip-value)), 100% calc(20% + var(--avatar-clip-value)), 100% 40%, 0% 40%, 0% calc(40% + var(--avatar-clip-value)), 100% calc(40% + var(--avatar-clip-value)), 100% 60%, 0% 60%, 0% calc(60% + var(--avatar-clip-value)), 100% calc(60% + var(--avatar-clip-value)), 100% 80%, 0% 80%, 0% calc(80% + var(--avatar-clip-value)), 100% calc(80% + var(--avatar-clip-value)), 100% 100%, 0% 100%);
}
.my-avatar .avatar-head2 {
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% calc(0% + var(--avatar-clip-value)), 0% calc(0% + var(--avatar-clip-value)), 0% 20%, 100% 20%, 100% calc(20% + var(--avatar-clip-value)), 0% calc(20% + var(--avatar-clip-value)), 0% 40%, 100% 40%, 100% calc(40% + var(--avatar-clip-value)), 0% calc(40% + var(--avatar-clip-value)), 0% 60%, 100% 60%, 100% calc(60% + var(--avatar-clip-value)), 0% calc(60% + var(--avatar-clip-value)), 0% 80%, 100% 80%, 100% calc(80% + var(--avatar-clip-value)), 0% calc(80% + var(--avatar-clip-value)));
  clip-path: polygon(0% 0%, 100% 0%, 100% calc(0% + var(--avatar-clip-value)), 0% calc(0% + var(--avatar-clip-value)), 0% 20%, 100% 20%, 100% calc(20% + var(--avatar-clip-value)), 0% calc(20% + var(--avatar-clip-value)), 0% 40%, 100% 40%, 100% calc(40% + var(--avatar-clip-value)), 0% calc(40% + var(--avatar-clip-value)), 0% 60%, 100% 60%, 100% calc(60% + var(--avatar-clip-value)), 0% calc(60% + var(--avatar-clip-value)), 0% 80%, 100% 80%, 100% calc(80% + var(--avatar-clip-value)), 0% calc(80% + var(--avatar-clip-value)));
}
.my-avatar .pull-me-container {
  position: absolute;
  top: 55%;
  left: 55%;
  height: 11.25vmin;
}
.my-avatar .pull-me {
  position: absolute;
  height: 4.5vmin;
  width: 5vmin;
  padding-bottom: 0.5vmin;
  left: calc(50% - 2.5vmin);
  background: var(--bg-color4);
  font-size: 2.5vh;
  color: var(--ctacol);
  display: flex;
  align-items: flex-end;
  justify-content: center;
  border: none;
  border-radius: 0 0 25px 25px;
  z-index: 10;
}

.chest-container {
  position: relative;
  height: 15vw;
  width: 15vw;
  cursor: pointer;
  grid-row: 1/3;
  grid-column: 1/3;
  justify-self: center;
  align-self: flex-end;
  transition: 0.5s transform 0.5s cubic-bezier(0.2, -0.1, 1, -0.5);
  z-index: 10;
}
.chest-container .chest-top {
  position: relative;
  height: 7vw;
  width: 15vw;
}
.chest-container .chest-top .chest-top-front {
  position: absolute;
  bottom: 0;
  height: 6.5vw;
  width: 15vw;
  background: var(--chest-color);
  border-radius: 999px 999px 0 0;
  transition: transform 0.25s ease-in-out;
  transform-origin: bottom left;
}
.chest-container .open {
  transform: rotate(-90deg);
}
.chest-container .wide-open {
  transform: rotate(-120deg);
}
.chest-container .chest-bottom {
  height: 6.5vw;
  width: 15vw;
  background: var(--chest-color);
  border-radius: 0% 0% 2vw 2vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chest-closed {
  transform: scale(0);
}

.accessory-container {
  position: absolute;
  cursor: -webkit-grab;
  cursor: grab;
  transition: bottom 1s ease-in-out, left 1s ease-in-out;
}
.accessory-container .avatar-accessory {
  pointer-events: none;
  width: 100%;
  height: auto;
  transform: scale(0);
  transition: transform 1s ease-in-out;
}
.accessory-container .accessory-ejection {
  transform: scale(1);
}

.accessory-container1 {
  left: 57%;
  bottom: 37%;
}

.accessory-container2 {
  left: 53%;
  bottom: 49%;
}

.accessory-container3 {
  left: 41%;
  bottom: 50%;
}

.accessory-container4 {
  left: 44%;
  bottom: 36%;
}

.accessory-container5 {
  left: 50%;
  bottom: 47%;
}

.accessory-container6 {
  left: 51%;
  bottom: 40%;
}

.accessory-container7 {
  left: 41%;
  bottom: 37%;
}

.accessory-container8 {
  left: 47%;
  bottom: 41%;
}

.accessory-container9 {
  left: 52%;
  bottom: 46%;
}

.accessory-container10 {
  left: 51%;
  bottom: 39%;
}

.accessory-container11 {
  left: 45%;
  bottom: 48%;
}

.accessory-hidden {
  pointer-events: none;
  bottom: 2vw;
  left: calc(50% - 7.5vw);
  /* 50% - chest width / 2 */
}

.remind-cta {
  position: relative;
  height: 5vw;
  width: 5vw;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.remind-cta .circle {
  position: absolute;
  border-radius: 100%;
  height: inherit;
  width: inherit;
  border: 8px solid white;
  opacity: 0;
  -webkit-animation: 3s linear infinite remind-cta;
          animation: 3s linear infinite remind-cta;
}
.remind-cta .circle:nth-child(0) {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}
.remind-cta .circle:nth-child(1) {
  -webkit-animation-delay: 0.25s;
          animation-delay: 0.25s;
}
.remind-cta .circle:nth-child(2) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}
.remind-cta .circle:nth-child(3) {
  -webkit-animation-delay: 0.75s;
          animation-delay: 0.75s;
}

@-webkit-keyframes remind-cta {
  0%, 50% {
    opacity: 0;
    transform: scale(1);
    background: transparent;
  }
  70% {
    transform: scale(0.2);
    opacity: 0.7;
  }
  100% {
    transform: scale(0.2);
    background: white;
    opacity: 0;
  }
}

@keyframes remind-cta {
  0%, 50% {
    opacity: 0;
    transform: scale(1);
    background: transparent;
  }
  70% {
    transform: scale(0.2);
    opacity: 0.7;
  }
  100% {
    transform: scale(0.2);
    background: white;
    opacity: 0;
  }
}
.react-draggable-dragged {
  cursor: -webkit-grab;
  cursor: grab;
}

.react-draggable-dragging {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}/*# sourceMappingURL=slideHome.css.map */