:root {
    // --bg-color1: #fff;
    // --bg-color2: #fff;
    // --bg-color3: #fff;
    // --bg-color4: #fff;
    // --bg-color5: #fff;

    --bg: #fafcff;
    --bg2: hsl(0deg, 10%, 80%, 0.35);

    // --bg-gradient-angle: 90deg;

    --fontfam1: 'Fira Sans Extra Condensed', Arial, Helvetica, sans-serif;
    --fontfam2: 'Montserrat', sans-serif;
    --fontfam3: 'Ephesis', cursive;

    --fontcol1: #f8f2fe;
    --fontcol1: #010128;
    --fontcol2: #0100ff;

    --ctacol: #ff0e55;
}

.App {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    color: var(--fontcol1);
    font-family: Arial, Helvetica, sans-serif;
}

.banner {
    position: fixed;
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: hsl(0, 0%, 0%, 0.6);
    background: linear-gradient(
        hsl(0deg, 10%, 80%, 0.25) 50%,
        hsl(0deg, 10%, 80%, 0.2) 95%,
        hsl(0deg, 10%, 80%, 0.35)
    );
    backdrop-filter: blur(10px);
    z-index: 20;
    font-family: var(--fontfam1);
}

.logo {
    cursor: pointer;
    height: 7.5vh;
    object-fit: contain;
}

.navbar {
    display: flex;
    justify-content: space-evenly;
    width: min(75%, 800px);

    .nav-items {
        position: relative;
        font-size: max(20px, 2rem);
        cursor: pointer;
        transition: color 0.25s ease-in-out;

        > .underline {
            width: 100%;
            height: 2px;
            border-radius: 99px;
            background: var(--ctacol);
            transition: 0.25s transform ease-in-out;
            transform: scaleX(0);
            pointer-events: none;
        }

        &:hover > .underline {
            transform: scale(1);
        }
    }

    .active > .underline {
        transform: scale(1);
    }
}

.language-toggle {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .language-toggle-img {
        height: 2rem;
        cursor: pointer;
    }

    .language-toggle-selector-container {
        position: relative;
        cursor: pointer;
        width: 2.5rem;
        height: 1.25rem;
        border-radius: 999px;
        border: 2px solid var(--fontcol1);
        margin: 0 1vmin;

        .language-toggle-selector {
            pointer-events: none;
            position: absolute;
            height: 1.25rem;
            width: 1.25rem;
            background: var(--fontcol1);
            transition: transform 0.25s ease-in-out;
            border-radius: 999px;
        }

        .english-selected {
            transform: translateX(100%);
        }
    }
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 3rem;
    width: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 10;

    div {
        position: relative;
        height: 2.5px;
        width: 3rem;
        background: var(--ctacol);
        border-radius: 25px;
        transform-origin: var(--arrow-transform-origin);
        transition: 0.25s transform ease-in-out, 0.5s background ease-in-out;

        &::after,
        &::before {
            content: '';
            position: absolute;
            background: var(--ctacol);
            height: 2.5px;
            width: 100%;
            border-radius: 25px;
            transition: 0.25s transform ease-in-out, 0.5s background ease-in-out;
            transform-origin: var(--arrow-transform-origin);
        }
    }

    &:hover > div {
        &::after {
            transform: scaleX(0.25) rotate(7.5deg);
            background: var(--ctacol);
        }
        &::before {
            transform: scaleX(0.25) rotate(-7.5deg);
            background: var(--ctacol);
        }
    }

    &[data-direction='left'] {
        --arrow-transform-origin: left;
        left: 12px;
    }

    &[data-direction='right'] {
        --arrow-transform-origin: right;
        right: 12px;
    }
}

.slide-container {
    position: relative;
    width: 400vw;
    height: 100vh;
    display: flex;
    transition: transform 0.5s ease-in-out;
    // background: linear-gradient(
    //     var(--bg-gradient-angle),
    //     var(--bg-color1),
    //     var(--bg-color2),
    //     var(--bg-color3),
    //     var(--bg-color4),
    //     var(--bg-color5)
    // );
    background: var(--bg);
}

.slide-wrapper {
    display: grid;
    place-content: center;
    position: relative;
    top: 10vh;
    width: 100vw;
    height: 90vh;

    > div {
        display: grid;
        width: inherit;
        height: inherit;
    }
}

.section-title {
    display: none;
}
