:root {
    // bleu-violet => bleu clair
    // --bg-color1: hsl(258deg, 86%, 34%);
    // --bg-color2: hsl(243deg, 57%, 50%);
    // --bg-color3: hsl(229deg, 83%, 60%);
    // --bg-color4: hsl(212deg, 84%, 61%);
    // --bg-color5: hsl(194deg, 85%, 62%);

    // violet => bleu
    // --bg-color1: hsl(277deg, 84%, 38%);
    // --bg-color2: hsl(263deg, 90%, 40%);
    // --bg-color3: hsl(249deg, 78%, 41%);
    // --bg-color4: hsl(231deg, 74%, 44%);
    // --bg-color5: hsl(213deg, 70%, 47%);

    // bleu très foncé => bleu moyen
    --bg-color1: #03002e;
    --bg-color2: #010048;
    --bg-color3: #010057;
    --bg-color4: #02006c;
    --bg-color5: #090088;

    // "royal purple" => "st patrick's blue ???"
    // --bg-color1: #7953A9;
    // --bg-color2: #8B74BD;
    // --bg-color3: #B9BFFF;
    // --bg-color4: #4066E0;
    // --bg-color5: #22277A;

    // --bg-color1: hsl(300deg, 100%, 35%);
    // --bg-color2: hsl(285deg, 100%, 24%);
    // --bg-color3: hsl(270deg, 100%, 24%);
    // --bg-color4: hsl(254deg, 100%, 24%);
    // --bg-color5: hsl(240deg, 100%, 24%);

    // --bg-color1: ;
    // --bg-color2: ;
    // --bg-color3: ;
    // --bg-color4: ;
    // --bg-color5: ;

    --bg-gradient-angle: 90deg;

    --fontfam1: 'Fira Sans Extra Condensed', Arial, Helvetica, sans-serif;
    --fontfam2: "Ubuntu", sans-serif;
    --fontfam3: "Ephesis", cursive;

    --fontcol1: hsl(0deg, 0%, 85%);
    --fontcol2: hsl(212deg, 84%, 61%);

    // --ctacol:  hsl(47, 100%, 45%);

    --ctacol:  hsl(333deg, 78%, 62%);

    // --chest-color: #4896ef;
}

/* hsl(258, 86%, 34%) 
font-family: 'Ubuntu', sans-serif;
font-family: 'Ephesis', cursive;*/

.App {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    color: var(--fontcol1);
    font-family: Arial, Helvetica, sans-serif;
}

.banner {
    position: fixed;
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: hsl(0, 0%, 0%, 0.6);
    background: linear-gradient(
        hsl(180deg, 100%, 80%, 0.15) 50%,
        hsl(180deg, 100%, 80%, 0.1) 95%,
        hsl(180deg, 100%, 80%, 0.25)
    );
    backdrop-filter: blur(10px);
    z-index: 20;
    font-family: var(--fontfam1);
}

.logo {
    pointer-events: none;
    font-size: 2.5rem;
    font-family: var(--fontfam2);
}

.navbar {
    display: flex;
    justify-content: space-evenly;
    width: min(75%, 800px);

    .nav-items {
        // width: fit-content;
        position: relative;
        font-size: max(20px, 2rem);
        cursor: pointer;
        transition: color 0.25s ease-in-out;

        > .underline {
            width: 100%;
            height: 2px;
            border-radius: 99px;
            background: var(--ctacol);
            //transform-origin: left;
            transition: 0.25s transform ease-in-out;
            transform: scaleX(0);
            pointer-events: none;
        }

        &:hover {
            color: white;
            > .underline {
                transform: scale(1);
            }
        }
    }

    .active {
        color: white;
        > .underline {
            transform: scale(1);
        }
    }
}

.language-toggle {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .language-toggle-img {
        height: 2rem;
        cursor: pointer;
    }

    .language-toggle-selector-container {
        position: relative;
        cursor: pointer;
        width: 2.5rem;
        height: 1.25rem;
        border-radius: 999px;
        border: 2px solid var(--fontcol1);
        margin: 0 1vmin;

        .language-toggle-selector {
            pointer-events: none;
            position: absolute;
            height: 1.25rem;
            width: 1.25rem;
            background: var(--fontcol1);
            transition: transform 0.25s ease-in-out;
            border-radius: 999px;
        }

        .english-selected {
            transform: translateX(100%);
        }
    }
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 3rem;
    width: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 10;

    div {
        position: relative;
        height: 2.5px;
        width: 3rem;
        background: var(--ctacol);
        border-radius: 25px;
        transform-origin: var(--arrow-transform-origin);
        transition: 0.25s transform ease-in-out, 0.5s background ease-in-out;

        &::after,
        &::before {
            content: "";
            position: absolute;
            background: var(--ctacol);
            height: 2.5px;
            width: 100%;
            border-radius: 25px;
            transition: 0.25s transform ease-in-out, 0.5s background ease-in-out;
            transform-origin: var(--arrow-transform-origin);
        }
    }

    &:hover > div {
        &::after {
            transform: scaleX(0.25) rotate(7.5deg);
            background: var(--ctacol);
        }
        &::before {
            transform: scaleX(0.25) rotate(-7.5deg);
            background: var(--ctacol);
        }
    }

    &[data-direction="left"] {
        --arrow-transform-origin: left;
        left: 12px;
    }

    &[data-direction="right"] {
        --arrow-transform-origin: right;
        right: 12px;
    }
}

.slide-container {
    position: relative;
    width: 400vw;
    height: 100vh;
    display: flex;
    transition: transform 0.5s ease-in-out;
    background: linear-gradient(
        var(--bg-gradient-angle),
        var(--bg-color1),
        var(--bg-color2),
        var(--bg-color3),
        var(--bg-color4),
        var(--bg-color5)
    );
}

.slide-wrapper {
    display: grid;
    place-content: center;
    position: relative;
    top: 10vh;
    width: 100vw;
    height: 90vh;

    > div {
        display: grid;
        width: inherit;
        height: inherit;
    }
}

.section-title {
    display: none;
}
