:root {
  --bg-color1: #03002e;
  --bg-color2: #010048;
  --bg-color3: #010057;
  --bg-color4: #02006c;
  --bg-color5: #090088;
  --bg-gradient-angle: 90deg;
  --fontfam1: "Fira Sans Extra Condensed", Arial, Helvetica, sans-serif;
  --fontfam2: "Ubuntu", sans-serif;
  --fontfam3: "Ephesis", cursive;
  --fontcol1: hsl(0deg, 0%, 85%);
  --fontcol2: #4896ef;
  --ctacol: hsl(47, 100%, 45%);
}

/* hsl(258, 86%, 34%) 
font-family: 'Ubuntu', sans-serif;
font-family: 'Ephesis', cursive;*/
.App {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  color: var(--fontcol1);
  font-family: Arial, Helvetica, sans-serif;
}

.banner {
  position: fixed;
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: rgba(0, 0, 0, 0.6);
  background: linear-gradient(rgba(153, 255, 255, 0.15) 50%, rgba(153, 255, 255, 0.1) 95%, rgba(153, 255, 255, 0.25));
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  z-index: 20;
  font-family: var(--fontfam1);
}

.logo {
  pointer-events: none;
  font-size: 2.5rem;
  font-family: var(--fontfam2);
}

.navbar {
  display: flex;
  justify-content: space-evenly;
  width: min(75%, 800px);
}
.navbar .nav-items {
  position: relative;
  font-size: 24px;
  cursor: pointer;
  transition: color 0.25s ease-in-out;
}
.navbar .nav-items > .underline {
  width: 100%;
  height: 2px;
  border-radius: 99px;
  background: var(--ctacol);
  transition: 0.25s transform ease-in-out;
  transform: scaleX(0);
  pointer-events: none;
}
.navbar .nav-items:hover {
  color: white;
}
.navbar .nav-items:hover > .underline {
  transform: scale(1);
}
.navbar .active {
  color: white;
}
.navbar .active > .underline {
  transform: scale(1);
}

.language-toggle {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.language-toggle .language-toggle-img {
  height: 2rem;
  cursor: pointer;
}
.language-toggle .language-toggle-selector-container {
  position: relative;
  cursor: pointer;
  width: 2.5rem;
  height: 1.25rem;
  border-radius: 999px;
  border: 2px solid var(--fontcol1);
  margin: 0 1vmin;
}
.language-toggle .language-toggle-selector-container .language-toggle-selector {
  pointer-events: none;
  position: absolute;
  height: 1.25rem;
  width: 1.25rem;
  background: var(--fontcol1);
  transition: transform 0.25s ease-in-out;
  border-radius: 999px;
}
.language-toggle .language-toggle-selector-container .english-selected {
  transform: translateX(100%);
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 3rem;
  width: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 10;
}
.arrow div {
  position: relative;
  height: 2.5px;
  width: 3rem;
  background: var(--ctacol);
  border-radius: 25px;
  transform-origin: var(--arrow-transform-origin);
  transition: 0.25s transform ease-in-out, 0.5s background ease-in-out;
}
.arrow div::after, .arrow div::before {
  content: "";
  position: absolute;
  background: var(--ctacol);
  height: 2.5px;
  width: 100%;
  border-radius: 25px;
  transition: 0.25s transform ease-in-out, 0.5s background ease-in-out;
  transform-origin: var(--arrow-transform-origin);
}
.arrow:hover > div::after {
  transform: scaleX(0.25) rotate(7.5deg);
  background: var(--ctacol);
}
.arrow:hover > div::before {
  transform: scaleX(0.25) rotate(-7.5deg);
  background: var(--ctacol);
}
.arrow[data-direction=left] {
  --arrow-transform-origin: left;
  left: 12px;
}
.arrow[data-direction=right] {
  --arrow-transform-origin: right;
  right: 12px;
}

.slide-container {
  position: relative;
  width: 400vw;
  height: 100vh;
  display: flex;
  transition: transform 0.5s ease-in-out;
  background: linear-gradient(var(--bg-gradient-angle), var(--bg-color1), var(--bg-color2), var(--bg-color3), var(--bg-color4), var(--bg-color5));
}

.slide-wrapper {
  display: grid;
  place-content: center;
  position: relative;
  top: 10vh;
  width: 100vw;
  height: 90vh;
}
.slide-wrapper > div {
  display: grid;
  width: inherit;
  height: inherit;
}

.section-title {
  display: none;
}/*# sourceMappingURL=app.css.map */