:root {
    // --bg-color1: hsl(258deg, 86%, 34%);
    // --bg-color2: hsl(243deg, 57%, 50%);
    // --bg-color3: hsl(229deg, 83%, 60%);
    // --bg-color4: hsl(212deg, 84%, 61%);
    // --bg-color5: hsl(194deg, 85%, 62%);

    --bg-color1: hsl(285deg, 90%, 35%);
    --bg-color2: hsl(267deg, 84%, 38%);
    --bg-color3: hsl(249deg, 78%, 41%);
    --bg-color4: hsl(231deg, 74%, 44%);
    --bg-color5: hsl(213deg, 70%, 47%);

    --bg-gradient-angle: 90deg;

    --fontfam1: "arial black", Arial, Helvetica, sans-serif;
    --fontfam2: "Ubuntu", sans-serif;
    --fontfam3: "Ephesis", cursive;

    --fontcol1: hsl(0deg, 0%, 85%);
    --fontcol2: hsl(194deg, 85%, 62%);

    --ctacol: orangered;

    --chest-color: #4896ef;
}

/* hsl(258, 86%, 34%) 
font-family: 'Ubuntu', sans-serif;
font-family: 'Ephesis', cursive;*/

.App {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    color: var(--fontcol1);
    font-family: Arial, Helvetica, sans-serif;
}

.banner {
    position: fixed;
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: hsl(0, 0%, 0%, 0.6);
    background: linear-gradient(
        hsl(180deg, 100%, 80%, 0.15) 50%,
        hsl(180deg, 100%, 80%, 0.1) 95%,
        hsl(180deg, 100%, 80%, 0.25)
    );
    backdrop-filter: blur(10px);
    font-size: 3rem;
    z-index: 20;
    font-family: "Ubuntu", sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-evenly;
    width: 50%;

    .nav-items {
        // width: fit-content;
        position: relative;
        font-size: 1.5rem;
        cursor: pointer;
        transition: color 0.25s ease-in-out;

        > .underline {
            width: 100%;
            height: 2px;
            border-radius: 99px;
            background: var(--ctacol);
            //transform-origin: left;
            transition: 0.25s transform ease-in-out;
            transform: scaleX(0);
            pointer-events: none;
        }

        &:hover {
            color: white;
            > .underline {
                transform: scale(1);
            }
        }
    }

    .active {
        color: white;
        > .underline {
            transform: scale(1);
        }
    }
}

.language-toggle {
    width: 10vw;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .language-toggle-img {
        height: 4vh;
    }

    .language-toggle-selector-container {
        position: relative;
        cursor: pointer;
        width: 3rem;
        height: 1.5rem;
        border-radius: 999px;
        border: 2px solid whitesmoke;
        margin: 0 1vmin;

        .language-toggle-selector {
            pointer-events: none;
            position: absolute;
            height: 1.5rem;
            width: 1.5rem;
            background: whitesmoke;
            top: 50%;
            transform: translateY(-50%);
            transition: transform 0.25s ease-in-out;
            border-radius: 999px;
        }

        .english-selected {
            transform: translate(100%, -50%);
        }
    }
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 100;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 2rem;
    font-weight: bolder;
    z-index: 10;
    color: var(--ctacol);

    div {
        position: relative;
        height: 2.5px;
        width: 40px;
        background: var(--ctacol);
        border-radius: 25px;
        transform-origin: var(--arrow-transform-origin);
        transition: 0.25s transform ease-in-out, 0.5s background ease-in-out;

        &::after,
        &::before {
            content: "";
            position: absolute;
            background: var(--ctacol);
            height: 2.5px;
            width: 100%;
            border-radius: 25px;
            transition: 0.25s transform ease-in-out, 0.5s background ease-in-out;
            transform-origin: var(--arrow-transform-origin);
        }
    }

    &:hover > div {
        &::after {
            transform: scaleX(0.25) rotate(15deg);
            background: var(--ctacol);
        }
        &::before {
            transform: scaleX(0.25) rotate(-15deg);
            background: var(--ctacol);
        }
    }

    &[data-direction="left"] {
        --arrow-transform-origin: left;
        left: 12px;
    }

    &[data-direction="right"] {
        --arrow-transform-origin: right;
        right: 12px;
    }
}

.slide-container {
    position: relative;
    width: 400vw;
    height: 100vh;
    display: flex;
    transition: transform 0.5s ease-in-out;
    background: linear-gradient(
        var(--bg-gradient-angle),
        var(--bg-color1),
        var(--bg-color2),
        var(--bg-color3),
        var(--bg-color4),
        var(--bg-color5)
    );

    .overlay {
        position: absolute;
        width: 400vw;
        height: 90vh;
        bottom: 0;
        z-index: 5;
    }
}

.slide-wrapper {
    display: grid;
    position: relative;
    top: 10vh;
    width: 100vw;
    height: 90vh;
}

.section-title{
    display: none;
}

@media (orientation: portrait) {
    .banner {
        overflow: hidden;
        width: 0vw;
        height: 100vh;
        flex-direction: column-reverse;
        align-items: flex-start;
        justify-content: space-around;
        padding: 1vw 0;
        background: linear-gradient(
            90deg,
            hsl(180deg, 100%, 80%, 0.15) 50%,
            hsl(180deg, 100%, 80%, 0.1) 95%,
            hsl(180deg, 100%, 80%, 0.25)
        );
        transition: width .25s ease-in-out;

        .navbar {
            padding-left: 2rem;
            height: 30vh;
            flex-direction: column;

            .nav-items {
                width: fit-content;
            }
        }

        .social-network {
            padding: 0;
            padding-left: 2rem;
            width: auto;
            align-self: flex-start;
            height: 30vh;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            a {
                align-self: flex-start;
            }
        }

        .logo{
            padding-left: 2rem;
        }

        .language-toggle {
            padding-left: 2rem;
            width: auto;
        }
    }

    .slide-container {
        position: relative;
        width: 100vw;
        height: 400vh;
        flex-direction: column;
        transition: transform 0.5s ease-in-out;
        --bg-gradient-angle: 180deg;

        .overlay {
            width: 100vw;
            height: 400vh;
        }
    }

    .slide-wrapper {
        top: 0;
        height: 100vh;
    }

    .section-title{
        display: block;
        width: 100vw;
        text-align: center;
    }
}
